
body {
    font-family: Arial;
    font-size: 10pt;
}

table {
    border: 1px solid #ccc;
    width: 300px;
   
    margin-left: 600px;
}

    table th {
        background-color: slategrey;
        color: black;
        height: 60px;
        text-align:center;
        font-weight: bold;
    }

    table th td {
        padding: 5px;
        color: black;
        border: 1px solid #ccc;
        background-color: lightgrey;
    }

    table td {
        padding: 5px;
        border: 1px solid #ccc;
        color: black;
        width: 150px;
    }


.error {
    color: red;
    font-style: italic;
}

#submittable {
    width: 300px;
}

#Remme {
    width: 100px;
    padding: 5px;
    height: 30px;
    background-color: #F7F7F7;
}

#button {
    width: 90px;
}
